<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <center>
    <br>
    <br>
    <ion-img src ="assets\img\g8.jpg"></ion-img>
    <strong>Jesseca Rosal</strong>
    <p>Studied at Eastern Visayas state University- Carigara Campus</p>
    <p>From Brgy.Canomantag Barugo,Leyte</p>
    <p>Lives in Leyte </p>
    <p>single</p>
    <strong>See More about Jesseca Rosal</strong>
  </center>
</ion-content>
