ion-title{
    background-color:salmon;
     font-weight: bold;
     font-size:  25px;
     font-family:  sans-serif;
     text-align: center;
 }
 ion-img{
     background-color: salmon;
     width:180px;
     height: 100px;
     border-radius: 90px;
     
 }
 