<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contacts
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>
  
    <ion-img src ="assets\img\g1.jpg"></ion-img>
    <p>09362418275</p>
    <p>jessicarosal@gmail.com</p> 
    <br>
    <ion-img src ="assets\img\g9.jpg"></ion-img>
    <p>09532918985</p>
    <p>norio18@gmail.com</p>
    <br>
    <ion-img src ="assets\img\g12.jpg"></ion-img>
    <p>09538725298</p>
    <p>emmalynbustillo@gmail.com</p>


  
</ion-content>